out/
.vs/
.idea/
.vscode/
cmake-build-*/
build/
external/
*.user
*.swp
*.swo
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.so
*.dylib
*.exp
*.ilk
.DS_Store
Thumbs.db
fuck-u-code*
build_prefab/
.claude/
Examples/bin/
Examples/lib/